@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;

  background-color: black;
}


.about-photo {
  transition: background-image 2s ease-in-out;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.smooth-translate {
  transition: transform 0.5s ease-in-out;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



